html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  font-size: 1em;
  background-size: cover;
  background-image: url('../components/images/m-liveview.png');
  /* background-image: url('../components/images/marsview.jpg'); */
  min-width: 100vw;
  min-height: 100vh;
  color: #dadada;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
.control-panel {
  position: relative;
  background-color:#fafafa;
  color: #212121;
  margin: 20px 0;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 22px 33px #ccc;
}

.control-panel.executing:after {
  display: block;
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}

.start-position input {
  margin-left: 10px;
  width: 70px;
}

.control-panel label {
  font-size: 1rem;
  opacity: 0.5;
}

.control-panel .commands {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  margin-top: 20px;
}

.control-panel button {
  font-size: 1rem;
  background-color:#663614;;
  color: #212121;
  border-radius: 2px;
  border: none;
  padding: 5px 0;
}

.control-panel button.cta {
  background-color: #3f5536;
  color: #dcedc8;
  border-radius: 25px;
  outline: none;
}

.control-panel input[type="text"] {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 0;
  background-color:#663614;
  color: #fff;
  letter-spacing: 2pt;
}

.mars {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  list-style: none;
  max-width: 350px;
  margin: 20px auto;
  padding: 0;
}
img{
  width: 100px;
  margin: 20px;
  box-shadow: 0 22px 33px #ccc;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
  background-color: black !important;
  padding: 10px;
  margin-top: 20px;
}
.cell {
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: #663614;
  transition: background 0.2s;
  min-height: 70px;
}
.cell label {
  position: absolute;
  top: 7px;
  left: 7px;
  color: #fff;
  opacity: .1;
  font-size: .5rem;
}
.cell.path:before {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #37474f;
  animation: zoomIn 0.2s;
  z-index: 0;
}

.cell.path label {
  color: #fff;
}

.cell.end:before {
  display: none;
}

.cell.end {
  background-color: #3b4d3c;
}

.cell.error {
  background-color: #f44336;
}

.cell.end label,
.cell.error label {
  opacity: 1;
}

.rover {
  font-size: 3rem;
  transition: all 0.1s;
  color: black;
  z-index: 1;
}

.rover.S {
  transform: rotate(180deg);
}

.rover.W {
  transform: rotate(270deg);
}

.rover.N {
  transform: rotate(0deg);

}

.rover.E {
  transform: rotate(90deg);
}

.rover.ghost {
  opacity: 0.2;
}

@media (min-width: 510px) {
  .mars {
    max-width: 510px;
    width: 510px;
  }

  .cell {
    width: 100px;
    height: 100px;
  }

  h1 {
    margin-bottom: 100px;
  }
}

.execution {
  display: grid;
  grid-template-columns: 0.5fr 3fr 1fr;
  grid-column-gap: 10px;
  margin-top: 20px;
}

.samples {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.samples ul {
  margin-left: 20px;
}

.samples button {
  background: none;
  border-bottom: 1px solid;
  cursor: pointer;
  font-size: 0.8rem;
  padding: 2px;
}

.samples ul li {
  display: inline;
  margin-right: 10px;
}

.samples ul li:after {
  content: ",";
  display: inline-block;
}

.samples ul li:last-child:after {
  display: none;
}

button.secondary {
  font-size: 0.8rem;
  background: none;
}
